.nav {
  background-color:rgb(153, 242, 81);
  height: 40px;
  border-radius: 20px;
}

.ul1 {
  display: flex;
  list-style: none;
}

li {
  /* color: white; */
  
  margin: 10px;
  margin-top: 8px;
  text-decoration:none;
}


.style {
  background-color: rgb(20, 20, 203);
}

